@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #0b68d5;
  --secondary-color: #163142;
  --white-color: #FAFAFA;
  --font-size-large: 1.5rem;
  --spacing-medium: 16px;
}

* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: clamp(0.5rem, 2.5vw, 1.2rem);
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  color: var(--white-color);
  background: #0B68D5;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);

  h1 {
    font-size: clamp(2rem, 5vw, 4rem);;
  }

  a {
    padding: 0.75em 3em;
    background: #1570d6;
    color: var(--white-color);
    text-decoration: none;
    border: 2px solid #2563eb;
    border-radius: 1.5em;
    font-weight: 600;
    margin-top: 2em;
  }

  a:hover {
    background: #1d4ed8;
    border-color: #1d4ed8;
    transform: translateY(-1px);
  }

  a:active {
    transform: translateY(0);
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30em;
    padding: 1rem;
  }
}

.about {
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100vw;

  div {
    max-width: 30em;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
  }
}